#arrowContainer{
    display: none;
    position: fixed;
    width:50em;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

#arrowContainer button{
    opacity: 45%;
}

.leftBtn{
    margin-right: 3em;
    width:6em;
    height:5em;

}

.rightBtn{
    margin-left: 3em;
    height:5em;
    width:6em;
}

.upBtn{
    margin-bottom: 0.5em;
    height: 5em;
    width: 6em;
}

.downBtn{
    margin-top: 0.5em;
    height: 5em;
    width: 6em;
}

@media screen and (max-width: 700px) {
    #arrowContainer{
        display:inline-block;
    }
}